@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Regular.ttf) format('truetype');
    font-weight: normal;

}

@font-face {
    font-family: 'Roboto-Bold';
    src: url(fonts/Roboto-Bold.ttf) format('truetype');
    font-weight: bold;

}

@font-face {
    font-family: 'Roboto-Black';
    src: url(fonts/Roboto-Black.ttf) format('truetype');

}

@font-face {
    font-family: 'Roboto-LightItalic';
    src: url(fonts/Roboto-LightItalic.ttf) format('truetype');

}

* {
    font-family: 'Roboto', sans-serif;

}

header {

    background-color: #1f2937;
}

.thisWebsite {

    margin-bottom: 0;
    font-size: 48PX;
    font-family: 'Roboto-Black';
    color: #F9FAF8
}

.maindiv {

    /* padding-top: 6rem;
    padding-bottom: 6rem;*/
    display: flex;
    flex-direction: row;
}

.logo {

    padding-bottom: 5rem;
    /* font-family: 'Roboto';*/
    margin-top: 0;
    font-size: 24PX;
    color: #F9FAF8;
}

.mainnav {
    padding-bottom: 5rem;
    display: flex;
    flex-direction: row;
    gap: 0.7rem;
    font-size: 18px;
    color: #E5E7EB;
    float: right;
    /*margin-left: 0.2rem;*/
}

.button1 {


    margin-top: 0;
    background-color: #3882F6;
    border: 0px;
    color: hsl(0, 0%, 100%);
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
    border-radius: 7px;
}

.secondaryText1 {

    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.secondaryText2 {

    /*  padding-bottom: 4rem;*/
    height: 14.5rem;
    /*width: 28.4rem;*/
    margin-top: 2rem;
    /*margin-left: 0rem;*/
    margin-left: 1rem;
    text-align: center;
    /*  float: right;*/

    font-size: 18px;
    color: #E5E7EB;
    background-color: #6D747D;


}

.placeholder {

    padding-top: 5rem;

}


.subdiv1 {

    padding-right: 0rem;
    margin-left: 11rem;
    /*margin-right: 10rem;*/
    /*background-color: antiquewhite;*/
    flex-grow: 1;
    flex-basis: 0;

    margin-top: 0.7rem;
    padding-bottom: 5rem;
}

.subdiv2 {
    /*padding-left: 1rem;*/
    display: flex;
    flex-direction: column;
    margin-right: 11rem;
    /*margin-left: 10rem;*/
    /* background-color: azure;*/
    flex-grow: 1;
    flex-basis: 0;

    margin-top: 0.7rem;
    padding-bottom: 5rem;
}

.randomInformatiom {

    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;

}

.boxes {

    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 6rem;


}

.boxe1,
.boxe2,
.boxe3,
.boxe4 {

    height: 10rem;
    width: 10rem;
    border: 4px solid #3882F6;
    border-radius: 10%;

}

.paragraph {

    text-align: center;
}




.quoteDiv {
    background-color: #E5E7EB;
    height: 20rem;
    padding: 3rem 9rem 3rem 9rem;
    margin-bottom: 6rem;


}

.quoteText {

    padding: 3rem 5rem 0rem 5rem;
    margin-bottom: 0;
    font-size: 36px;
    font-family: 'Roboto-LightItalic';
    color: #1F2937;

}

.thor p {

    text-align: right;
    margin-right: 7rem;
    margin-top: 0;
    font-family: 'Roboto-Bold';
    padding: 0rem 0rem 0rem 0rem;

}

.calltoAction {

    height: 6rem;
    width: 62rem;
    background-color: #3882F6;
    margin-left: 8rem;
    margin-bottom: 6rem;
    padding-bottom: 2.5rem;
    color: hsl(0, 0%, 100%);
    border-radius: 8px;
    display: flex;
    flex-direction: row;

}

.hpCall {
    padding-bottom: 3rem;

}

.buttonCall {

    padding-top: 3.8rem;
    padding-left: 14rem;
}

.calltoAction h3 {

    padding-top: 2rem;
    padding-left: 5rem;
    margin-bottom: 0;
}

.calltoAction p {

    margin-top: 0;
    padding-left: 5rem;
}

.button2 {

    background-color: #3882F6;
    border: 2px solid hsl(0, 0%, 100%);
    padding-left: 1.8rem;
    padding-right: 1.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    border-radius: 5px;
    color: hsl(0, 0%, 100%);

}

footer {
    text-align: center;
    height: 4rem;
    background-color: #1f2937;
    padding-top: 1rem;
    color: hsl(0, 0%, 100%);
}